* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --hue: 191;
  --color-page: #000000;
  --color-button: #065e7c;
  --color-text-button: #ffffff;
  --color-text-table: #e1e1e6;
  --color-input: #06181c;
  --color-table-th: #092d38;
  --color-table-odd: hsl(--hue, 31, 42, 100%);
  --color-table-even: #06161b;
  --color-border-table: #4a808c;
  --color-scrollbar: #4a6c8c;
  --color-button-remover: #f75a68;
  --color-button-remover-hover: #ff3747;
  --color-text-zero: #4e5455;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Mono", monospace;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-page);
}

body * {
  font-family: var(--font-primary);
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .search {
  margin: 11.5rem 0rem 8.4rem;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 46.2rem;
  padding: 1.6rem 1.6rem;
  margin-right: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--color-input);
  color: var(--color-text-button);
}

.search input:focus {
  outline: none;
  background: var(--color-input);
}

.search button {
  display: flex;
  height: 4.8rem;
  gap: 0.8rem;
  padding: 1.2rem 3.2rem;
  background: var(--color-button);
  color: var(--color-text-button);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.search button:hover {
  background: var(--color-text-button);
  color: var(--color-button);
  transition: 0.2s;
}

.search button:hover img {
  transition: all 0.2s;
  filter: brightness(0) saturate(100%) invert(28%) sepia(73%) saturate(1864%)
    hue-rotate(166deg) brightness(94%) contrast(96%);
}

.table-wrapper {
  border: 1px solid var(--color-border-table);
  border-radius: 1.2rem;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--color-text-button);
}

table * {
  font-size: 2rem;
  color: var(--color-text-table);
}

table th {
  background: var(--color-table-th);
  text-align: left;
  font-weight: bold;
  padding: 1.6rem 4rem;
}

tbody {
  display: flex;
  flex-direction: column;
  max-height: 50rem;
  overflow-y: overlay;
}

tbody::-webkit-scrollbar {
  width: .4rem;
  cursor: pointer;
}

tbody::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 1rem;
  cursor: pointer;
}

tbody::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar {
  border: none;
}

thead,
tbody tr {
  display: table;
  width: 100%;
}

thead tr th:nth-child(1),
tbody tr td:nth-child(1) {
  width: (50.4rem);
}
thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  width: min(21.8rem, 21vw);
}

thead tr th:nth-child(3),
tbody tr td:nth-child(3) {
  width: min(21.8rem, 21vw);
}

thead tr th:nth-child(4),
tbody tr td:nth-child(4) {
  width: min(17.8rem, 15vw);
}

table th:first-child {
  border-top-left-radius: 0.8rem;
}

table th:last-child {
  border-top-right-radius: 0.8rem;
}

table tr:nth-child(odd) {
  background: var(--color-table-odd);
}

table tr:nth-child(even) {
  background: var(--color-table-even);
  border-top: 1px solid var(--color-border-table);
}

table td {
  padding: 2.4rem 4rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

td.user img {
  width: 5.6rem;
  height: 5.6rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user img:hover {
  transform: scale(1.3);
  transition: 0.3s all ease;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: normal;
}

td .remove {
  background: none;
  border: none;
  color: var(--color-button-remover);
  cursor: pointer;
  transition: all 0.2s;
}
td .remove:hover {
  color: var(--color-button-remover-hover);
  transform: scale(1.1);
  transition: 0.3s all ease;
}

.zero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64.2rem;
}

tbody tr.zero td {
  display: flex;
  align-items: center;
  gap: 6rem;
  font-size: 4rem;
}

.zero img {
  width: 12.2rem;
  height: 12.5rem;
}

.zero p {
  font-size: 4rem;
  line-height: 24.8rem;
  color: var(--color-text-zero);
  font-family: var(--font-secondary);
  font-weight: bold;
}

@media (max-width: 768px) {
  .logo {
    width: 13rem;
    height: 13rem;
  }

  .search {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .search input {
    width: 12.2rem;
    padding: 1.6rem 1.6rem;
    margin-right: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--color-input);
    color: var(--color-text-button);
  }

  .search button {
    display: flex;
    width: 10.6rem;
    gap: 0.3rem;
    padding: 1.2rem 1.2rem;
    background: var(--color-button);
    color: var(--color-text-button);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2.4rem;
  }
}
